<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>


<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Service Name</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
{% for object in service_info.results %}
    <tr>
        <td>{{all_facts.ansible_facts.ansible_nodename}}</td>            
        <td>object.item</td>
        <td {% if "{{object.exists}}" != desired_version %}style="background:yellow;"{% endif %}>{{object.exists}}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

</body>
</html>